@import "../../styles/theme.scss";

.quoteContainer {
  margin: 2rem;
  align-items: center;
  justify-content: center;
  display: flex;

  span {
    color: $textColor;
    font-weight: bold;
    font-size: x-large;
  }
}
.pageCont {
  display: flex;
  flex-direction: row;
}
.sideCont {
  max-width: 20rem;
}
.MainContent {
  width: -webkit-fill-available;
}
