@import '../../styles/theme.scss';

.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  span {
    // @include AnimationDurations(0.5s);
    // transition-duration: 2s;
    color: $textColor;
    font-size: $xLargeFont;
    text-align: center;
  }
}
.rot180 {
  transform: rotate(180deg);
}
