$primary-color: #152a38;
$secondary-color: #d1d4c9;
$font-white: #ffff;
$red: #ff0000;
$light-green: #556e53;
$font-stack: "Baloo Thambi 2", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
  "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$inset-shadow: inset 10px 10px 30px #0c1922, inset -10px -10px 30px #1f3646;
$outSetShadow: 10px 10px 30px #0c1922, -10px -10px 30px #1f3646;
