@import '../../styles/theme.scss';
@mixin container {
  background-color: $primary-color;
  // width: fit-content;
  border-radius: 10px;
}
.cardContainerInset {
  @include container();
  box-shadow: $inset-shadow;
}
.cardContainer {
  @include container();
  box-shadow: $outSetShadow;
}
.circle {
  border-radius: 50%;
}
.buttonCard {
  border-radius: 100rem;
}
