@import '../../styles/theme.scss';

.logoHolder {
  position: fixed;
  top: -35px;
  left: -30px;
  z-index: -1;
}
.holder {
  box-shadow: 26px 20px 30px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 65px;
  position: fixed;
  left: 423px;
  background: $primary-color;
  z-index: -1;
}
.logo {
  position: fixed;
  width: 10rem;
  height: 9rem;
  left: 26px;
}
.iconContainer {
  display: flex;
  justify-content: flex-end;
  height: 65px;
  align-items: center;
  padding-right: 2.5rem;
}
.menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  transform: scale(1) translateY(0px);
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;

  &:hover {
    transform: scale(1.25) translateY(5px);
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
  }
}
.iconText {
  color: #ffff;
  font-size: 0.75rem;
  z-index: 9;
}
.globalHeader {
  position: fixed;
  width: 100%;
  top: 0;
  // z-index: -1;
}
.globalCont {
  padding-top: 55px;
}
.loggedinAs {
  color: $textSutle;
}
